<!doctype html>
<html>
	<head>
		<title>books in pocket</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="css/jquery.mobile-1.4.5.min.css">
		<link rel="stylesheet" type="text/css" href="bower_components/slick-carousel/slick/slick.css">
		<link rel="stylesheet" type="text/css" href="bower_components/slick-carousel/slick/slick-theme.css">
		<link rel="stylesheet" type="text/css" href="css/common.css">
		<script type="text/javascript" src="bower_components/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="javascripts/jquery.mobile-1.4.5.min.js"></script>
		<script type="text/javascript" src="bower_components/slick-carousel/slick/slick.min.js"></script>
		<script type="text/javascript" src="javascripts/main.js"></script>
	</head>
	<body>
		<div data-role="page" id="foo">
			<div data-role="header" class="header" data-position="fixed">
				<h1>口袋图书</h1>
			</div>
			<div class="ui-content" role="main">
				<div data-slick='' id="slider">
				    <div>
				  	    <img src="images/alione.jpg">
				    </div>
				    <div>
				  		<img src="images/alitwo.jpg">
				    </div>
				    <div>
				  		<img src="images/alithree.jpg">
				    </div>
				</div>
				<ul data-role="listview" data-inset="true" class="booklist">
					<li>
						<a href="#detail">
							<img src="images/alione.jpg">
							<h2>broken bells</h2>
							<p>controduction controduction</p>
						</a>
					</li>
					<li>
						<a href="#detail">
							<img src="images/alione.jpg">
							<h2>broken bells</h2>
							<p>controduction controduction</p>
						</a>
					</li>
					<li>
						<a href="#detail">
							<img src="images/alione.jpg">
							<h2>broken bells</h2>
							<p>controduction controduction</p>
						</a>
					</li>
					<li>
						<a href="#detail">
							<img src="images/alione.jpg">
							<h2>broken bells</h2>
							<p>controduction controduction</p>
						</a>
					</li>
					<li>
						<a href="#detail">
							<img src="images/alione.jpg">
							<h2>broken bells</h2>
							<p>controduction controduction</p>
						</a>
					</li>
					<li>
						<a href="#detail">
							<img src="images/alione.jpg">
							<h2>broken bells</h2>
							<p>controduction controduction</p>
						</a>
					</li>
				</ul>
			</div>
			<div data-role="footer" data-position="fixed">
				<h4>Page Footer</h4>
			</div>
		</div>
		<div data-role="page" id="detail" class="header">
			<div data-role="header" data-position="fixed">
				<h1>图书详情</h1>
			</div>
			<div role="main" class="ui-content">
				<p>I'm the second in the source order so I'm hidden when the page loads. I'm just shown if a link that references my id is beeing clicked.</p>
				<p>
					<a href="#foo">Back to foo</a>
				</p>
			</div>
			<div data-role="footer" data-position="fixed">
				<h4>Page Footer Page Footer</h4>
			</div>
		</div>
	</body>
</html>